<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./allEvent.css" />
  </head>
  <body>
    <!-- header component -->
    <header>
      <div class="logo">
        <img src="/assets/images/logo.svg" alt="logo" />
        <h1>Evently</h1>
      </div>
      <nav>
        <ul class="nav-links">
          <a href="#"> <li class="link present">Create an Event</li> </a>
          <a href="#"> <li class="link">Help</li> </a>
          <a href="#"> <li class="link">Pricing</li> </a>
          <a href="#"> <li class="link">Resources</li> </a>
          <a href="#">
            <li>
              <img src="/assets/images/Ellipse 1.png" alt="" />
            </li>
          </a>
        </ul>
      </nav>
    </header>
    <!-- header ends -->

    <!-- CTA > Call To Action -->
    <div class="hero">
      <h1>Turn your visitors into profitable business</h1>
      <div class="search-event">
        <input type="text" name="search" placeholder="Search Events" />
        <button>
          <img src="/assets/images/magnifyingglass.svg" alt="" />
        </button>
      </div>
    </div>

    <!-- Events -->
    <div class="events">
      <div class="filter-by-location">
        Popular in <span class="location">Lagos</span>
        <span>
          <img src="/assets/images/dropdown-arrow.svg" alt="select" />
        </span>
      </div>

      <ul class="event-tag-list">
        <li class="tags present">All</li>
        <li class="tags">For you</li>
        <li class="tags">Online</li>
        <li class="tags">Today</li>
        <li class="tags">This weekend</li>
        <li class="tags">Free</li>
        <li class="tags">Music</li>
        <li class="tags">Food & Drink</li>
        <li class="tags">Charity & Causes</li>
      </ul>

      <!-- based on interest -->
      <div class="event-by">
        <h2>Based on you interest</h2>
        <ul class="event-cards">
          <li class="card-container">
            <img src="/assets/images/Imageevebg.png " alt="event-image" />
            <h3>Daily Grand Sprint</h3>
            <p class="event-description">
              Lorem ipsum dolor sit amet consectetur. Mattis scelerisque aliquet
              vel libero
            </p>
            <div class="details">
              <div class="date">14th Dec, 2022</div>
              <div class="tag">Sports</div>
            </div>
          </li>
          <li class="card-container">
            <img src="/assets/images/Imageevebg.png " alt="event-image" />
            <h3>Daily Grand Sprint</h3>
            <p class="event-description">
              Lorem ipsum dolor sit amet consectetur. Mattis scelerisque aliquet
              vel libero
            </p>
            <div class="details">
              <div class="date">14th Dec, 2022</div>
              <div class="tag">Sports</div>
            </div>
          </li>
          <li class="card-container">
            <img src="/assets/images/Imageevebg.png " alt="event-image" />
            <h3>Daily Grand Sprint</h3>
            <p class="event-description">
              Lorem ipsum dolor sit amet consectetur. Mattis scelerisque aliquet
              vel libero
            </p>
            <div class="details">
              <div class="date">14th Dec, 2022</div>
              <div class="tag">Sports</div>
            </div>
          </li>
          <li class="card-container">
            <img src="/assets/images/Imageevebg.png " alt="event-image" />
            <h3>Daily Grand Sprint</h3>
            <p class="event-description">
              Lorem ipsum dolor sit amet consectetur. Mattis scelerisque aliquet
              vel libero
            </p>
            <div class="details">
              <div class="date">14th Dec, 2022</div>
              <div class="tag">Sports</div>
            </div>
          </li>
          <li class="card-container">
            <img src="/assets/images/Imageevebg.png " alt="event-image" />
            <h3>Daily Grand Sprint</h3>
            <p class="event-description">
              Lorem ipsum dolor sit amet consectetur. Mattis scelerisque aliquet
              vel libero
            </p>
            <div class="details">
              <div class="date">14th Dec, 2022</div>
              <div class="tag">Sports</div>
            </div>
          </li>
          <li class="card-container">
            <img src="/assets/images/Imageevebg.png " alt="event-image" />
            <h3>Daily Grand Sprint</h3>
            <p class="event-description">
              Lorem ipsum dolor sit amet consectetur. Mattis scelerisque aliquet
              vel libero
            </p>
            <div class="details">
              <div class="date">14th Dec, 2022</div>
              <div class="tag">Sports</div>
            </div>
          </li>
          <li class="card-container">
            <img src="/assets/images/Imageevebg.png " alt="event-image" />
            <h3>Daily Grand Sprint</h3>
            <p class="event-description">
              Lorem ipsum dolor sit amet consectetur. Mattis scelerisque aliquet
              vel libero
            </p>
            <div class="details">
              <div class="date">14th Dec, 2022</div>
              <div class="tag">Sports</div>
            </div>
          </li>
          <li class="card-container">
            <img src="/assets/images/Imageevebg.png " alt="event-image" />
            <h3>Daily Grand Sprint</h3>
            <p class="event-description">
              Lorem ipsum dolor sit amet consectetur. Mattis scelerisque aliquet
              vel libero
            </p>
            <div class="details">
              <div class="date">14th Dec, 2022</div>
              <div class="tag">Sports</div>
            </div>
          </li>
        </ul>
      </div>

      <!-- Category -->
      <div class="event-by">
        <h2>Categories</h2>
        <ul class="event-cards category">
          <li class="category-card">
            <img src="/assets/images/sport.png" alt="sport" />
            <h3 class="category-title">Sport</h3>
          </li>
          <li class="category-card">
            <img src="/assets/images/fitness.png" alt="sport" />
            <h3 class="category-title">fitness</h3>
          </li>
          <li class="category-card">
            <img src="/assets/images/music.png" alt="sport" />
            <h3 class="category-title">Music</h3>
          </li>
          <li class="category-card">
            <img src="/assets/images/fashion.png" alt="sport" />
            <h3 class="category-title">Fashion</h3>
          </li>
          <li class="category-card">
            <img src="/assets/images/technology.png" alt="sport" />
            <h3 class="category-title">Technology</h3>
          </li>
          <li class="category-card">
            <img src="/assets/images/arts.png" alt="sport" />
            <h3 class="category-title">Arts</h3>
          </li>
          <li class="category-card">
            <img src="/assets/images/food.png" alt="sport" />
            <h3 class="category-title">Food</h3>
          </li>
        </ul>
      </div>

      <!-- recommendation -->
      <div class="event-by">
        <h2>Best recommendation</h2>
        <ul class="event-cards">
          <li class="card-container">
            <img src="/assets/images/Imageevebg.png " alt="event-image" />
            <h3>Daily Grand Sprint</h3>
            <p class="event-description">
              Lorem ipsum dolor sit amet consectetur. Mattis scelerisque aliquet
              vel libero
            </p>
            <div class="details">
              <div class="date">14th Dec, 2022</div>
              <div class="tag">Sports</div>
            </div>
          </li>
          <li class="card-container">
            <img src="/assets/images/Imageevebg.png " alt="event-image" />
            <h3>Daily Grand Sprint</h3>
            <p class="event-description">
              Lorem ipsum dolor sit amet consectetur. Mattis scelerisque aliquet
              vel libero
            </p>
            <div class="details">
              <div class="date">14th Dec, 2022</div>
              <div class="tag">Sports</div>
            </div>
          </li>
          <li class="card-container">
            <img src="/assets/images/Imageevebg.png " alt="event-image" />
            <h3>Daily Grand Sprint</h3>
            <p class="event-description">
              Lorem ipsum dolor sit amet consectetur. Mattis scelerisque aliquet
              vel libero
            </p>
            <div class="details">
              <div class="date">14th Dec, 2022</div>
              <div class="tag">Sports</div>
            </div>
          </li>
          <li class="card-container">
            <img src="/assets/images/Imageevebg.png " alt="event-image" />
            <h3>Daily Grand Sprint</h3>
            <p class="event-description">
              Lorem ipsum dolor sit amet consectetur. Mattis scelerisque aliquet
              vel libero
            </p>
            <div class="details">
              <div class="date">14th Dec, 2022</div>
              <div class="tag">Sports</div>
            </div>
          </li>
        </ul>
      </div>

      <div class="promote">
        <div class="product-advert">
          <div class="advert-text">
            <h2 class="advert-title">
              Turn your visitors into profitable business events
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur. Mattis scelerisque aliquet
              vel libero
            </p>
          </div>
        </div>
        <div class="get-action">
          <h2>Tell us what you love to see</h2>
          <p>We’ll find event recommendations just for you</p>
          <button class="outline-btn outline-white">Get Started</button>
        </div>
      </div>
    </div>

    <footer>
      <div class="company-and-links">
        <div class="company-details">
          <div class="logo">
            <img src="/assets/images/logo.svg" alt="logo" />
            <h1>Evently</h1>
          </div>
          <div class="description">
            Design amazing digital experiences that create more happy in the
            world.
          </div>
        </div>

        <div class="web-links">
          <div class="link-group">
            <h3>Company</h3>
            <ul class="link-list">
              <li class="links">
                <a href="#about">About Us</a>
              </li>
              <li class="links">
                <a href="#career">Careers</a>
              </li>
              <li class="links">
                <a href="#press">Press</a>
              </li>
              <li class="links">
                <a href="#news">News</a>
              </li>
            </ul>
          </div>

          <div class="link-group">
            <h3>Resources</h3>
            <ul class="link-list">
              <li class="links">
                <a href="#blog">Blog</a>
              </li>
              <li class="links">
                <a href="#career">Newsletter</a>
              </li>
              <li class="links">
                <a href="#press">Events</a>
              </li>
              <li class="links">
                <a href="#news">Help centre</a>
              </li>
            </ul>
          </div>

          <div class="link-group">
            <h3>Socials</h3>
            <ul class="link-list">
              <li class="links">
                <a href="#about">Twitter</a>
              </li>
              <li class="links">
                <a href="#career">LinkedIn</a>
              </li>
              <li class="links">
                <a href="#press">Facebook</a>
              </li>
            </ul>
          </div>

          <div class="link-group">
            <h3>Legal</h3>
            <ul class="link-list">
              <li class="links">
                <a href="#about">Terms</a>
              </li>
              <li class="links">
                <a href="#career">Policy</a>
              </li>
              <li class="links">
                <a href="#press">Cookies</a>
              </li>
              <li class="links">
                <a href="#news">Licenses</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="foot">
        <div class="copyright">© 2077 Untitled UI. All rights reserved.</div>
        <div class="social-icons">
          <a href="#twitter"
            ><img src="/assets/icons/Vectortwitter.svg" alt=""
          /></a>
          <a href="#linkedin"
            ><img src="/assets/icons/Vectorlinkedin.svg" alt=""
          /></a>
          <a href="#facebook"
            ><img src="/assets/icons/Vectorfacebook.png" alt=""
          /></a>
          <a href="#webpage"
            ><img src="/assets/icons/Vectorwebpage.svg" alt=""
          /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
