<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Googlefonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="signup.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <main class="signup-container flex">
      <section class="pic-side flex">
        <div class="overlay"></div>
        <div class="header">
          <h2 class="header-title">Evently</h2>
        </div>
        <div class="signup-main">
          <h2 class="header-title mobile">Evently</h2>
          <div class="signup-header">
            <h2 class="title">Sign Up</h2>
            <p class="subtitle">
              Create an account and start creating events today
            </p>
          </div>
          <div class="signup-footer">
            <div class="signup-button">
              <button class="signup-btn flex">
                <img src="./assets/icons/google-icon.svg" alt="Google" />
                <p>Google</p>
              </button>
            </div>
            <p class="text">
              Already have an Account?
              <a href="../login/index.html">Sign in</a>
            </p>
          </div>
        </div>
      </section>
      <section class="content-side">

      </section>
    </main>
  </body>
</html>
