:root {
  --primary-text-clr: #18181b;
  --secondary-text-clr: #71717a;
  --hover-text: #7543ed;
  --border-clr: #e4e4e7;
  --fontsize-content: 16px;
  
  --black-clr: #000000;
  --white-clr: #ffffff;
  --text-2-color: #151515;
  --text-3-color: #191d23;
  --text-4-color: #535353;
  --border-2-color: #d0d5dd;
}
