<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="side-img">
        <!-- <img src="/Template/assets/images/Rectangle 3.png" alt="image" /> -->
      </div>

      <div class="profile-form">
        <h1>Let's get you started</h1>
        <p>
          You can reach us at anytime via
          <b>hi@evently.com</b>
        </p>
        <form action="#">
          <div class="form-input">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Your name" />
          </div>
          <div class="form-input">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="you@company.com" />
          </div>
          <div class="form-input">
            <label for="phone">Phone number</label>
            <input type="number" id="phone" placeholder="+1 (555) 000-0000" />
          </div>
          <div class="form-input">
            <label for="message">How can we help you</label>
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="10"
              placeholder="Tell us little about the project"
            ></textarea>
          </div>
          <div class="form-input-check">
            <label for="policy">
              <input type="checkbox" id="policy" />
              you agreed to our <a href="#">privacy and policy</a>
            </label>
          </div>
          <div class="form-input">
            <input type="submit" value="Get Started" />
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
