<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-ticketing Search-event</title>

    <!-- Googlefonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="selectInterest.css" />
  </head>
  <body>
    <main class="main-container">
      <section class="header-section">
        <h1 class="main-text">Search Events</h1>
        <div class="input-container">
          <input type="text" name="" id="" placeholder="search Event" />
          <img class="search-icon" src="" alt="" />
        </div>
      </section>

      <section class="search-result">
        <ul class="filter-header">
          <li class="filter">All</li>
          <li class="filter">For you</li>
          <li class="filter">Online</li>
          <li class="filter">Today</li>
          <li class="filter">This weekend</li>
          <li class="filter">Free</li>
          <li class="filter">Music</li>
          <li class="filter">Food & Drink</li>
          <li class="filter">Charity & Causes</li>
        </ul>

        <div class="filter-result">
          <h2 class="filter-header">Based on your search</h2>
          <div class="card-container">
            <div class="filter-card">
              <div class="card-image">
                <img src="" alt="" />
              </div>
              <div class="card-header">Daily Grand Sprint</div>
              <div class="card-body">
                Lorem ipsum dolor sit amet consectetur. Mattis scelerisque
                aliquet vel libero
              </div>
              <div class="card-footer">
                <div class="card-date">14th Dec,2022</div>
                <div class="card-category">Sports</div>
              </div>
            </div>

            <div class="filter-card">
              <div class="card-image">
                <img src="" alt="" />
              </div>
              <div class="card-header">Daily Grand Sprint</div>
              <div class="card-body">
                Lorem ipsum dolor sit amet consectetur. Mattis scelerisque
                aliquet vel libero
              </div>
              <div class="card-footer">
                <div class="card-date">14th Dec,2022</div>
                <div class="card-category">Sports</div>
              </div>
            </div>

            <div class="filter-card">
              <div class="card-image">
                <img src="" alt="" />
              </div>
              <div class="card-header">Daily Grand Sprint</div>
              <div class="card-body">
                Lorem ipsum dolor sit amet consectetur. Mattis scelerisque
                aliquet vel libero
              </div>
              <div class="card-footer">
                <div class="card-date">14th Dec,2022</div>
                <div class="card-category">Sports</div>
              </div>
            </div>

            <div class="filter-card">
              <div class="card-image">
                <img src="" alt="" />
              </div>
              <div class="card-header">Daily Grand Sprint</div>
              <div class="card-body">
                Lorem ipsum dolor sit amet consectetur. Mattis scelerisque
                aliquet vel libero
              </div>
              <div class="card-footer">
                <div class="card-date">14th Dec,2022</div>
                <div class="card-category">Sports</div>
              </div>
            </div>

            <div class="filter-card">
              <div class="card-image">
                <img src="" alt="" />
              </div>
              <div class="card-header">Daily Grand Sprint</div>
              <div class="card-body">
                Lorem ipsum dolor sit amet consectetur. Mattis scelerisque
                aliquet vel libero
              </div>
              <div class="card-footer">
                <div class="card-date">14th Dec,2022</div>
                <div class="card-category">Sports</div>
              </div>
            </div>

            <div class="filter-card">
              <div class="card-image">
                <img src="" alt="" />
              </div>
              <div class="card-header">Daily Grand Sprint</div>
              <div class="card-body">
                Lorem ipsum dolor sit amet consectetur. Mattis scelerisque
                aliquet vel libero
              </div>
              <div class="card-footer">
                <div class="card-date">14th Dec,2022</div>
                <div class="card-category">Sports</div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
