<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-ticketing Select-interests</title>

    <!-- Googlefonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main class="main-container">
      <section>
        <div class="btn-container">
          <button class="btn-skip">Skip</button>
        </div>

        <div class="header-section">
          <h2>Select Your Interests</h2>
          <p>Select at most five (5) items</p>
        </div>
        <div class="check-group-container">
          <label class="check-container container-one">
            <input type="checkbox" name="checkbox" id="" />
            <span class="checkmark"></span>
            <label>Sport</label>
          </label>
          <label class="check-container container-two">
            <input type="checkbox" name="checkbox" id="" />
            <span class="checkmark"></span>
            <label>Fitness</label>
          </label>
          <label class="check-container container-three">
            <input type="checkbox" name="checkbox" id="" />
            <span class="checkmark"></span>
            <label>Music</label>
          </label>
          <label class="check-container container-four">
            <input type="checkbox" name="checkbox" id="" />
            <span class="checkmark"></span>
            <label>Fashion</label>
          </label>
          <label class="check-container container-five">
            <input type="checkbox" name="checkbox" id="" />
            <span class="checkmark"></span>
            <label>Technology</label>
          </label>
          <label class="check-container container-six">
            <input type="checkbox" name="checkbox" id="" />
            <span class="checkmark"></span>
            <label>Food</label>
          </label>
          <label class="check-container container-seven">
            <input type="checkbox" name="checkbox" id="" />
            <span class="checkmark"></span>
            <label>Health</label>
          </label>
          <label class="check-container container-eight">
            <input type="checkbox" name="checkbox" id="" />
            <span class="checkmark"></span>
            <label>Business</label>
          </label>
          <label class="check-container container-nine">
            <input type="checkbox" id="" />
            <span class="checkmark"></span>
            <label>Art</label>
          </label>
          <label class="check-container container-ten">
            <input type="checkbox" id="" />
            <span class="checkmark"></span>
            <label>Spirituality</label>
          </label>
        </div>
        <button class="primary-btn submit">Done</button>
      </section>
    </main>
  </body>
</html>
