@import url("../assets/Variables.css");
@import url("../assets/button.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
}

.main-container > section {
  text-align: center;
}

.interest-body-container {
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 35px;
}

.btn-skip {
  color: #1aa8ef;
  font-size: 14px;
  font-weight: 500;
  width: 49px;
  height: 24px;
  background: #ecf8fe;
  border-radius: 16px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-section {
  margin-bottom: 40px;
}

.header-section > h2 {
  color: var(--primary-text-clr);
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 7px;
}

.header-section > p {
  color: var(--secondary-text-clr);
  font-size: 14px;
  font-weight: 400;
}

.check-group-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 33px;
  max-width: 1017px;
  justify-content: center;
}

.check-container {
  position: relative;
  display: flex;
  object-fit: cover;
  object-position: center;
  width: 177px;
  height: 217.46px;
  flex-direction: column;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-container > label {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: 150px;
  left: 20px;
  display: flex;
}

.checkmark {
  position: relative;
  display: flex;
  left: 140px;
  top: 15px;
  /* margin: 20px 0 0 auto; */
  height: 24px;
  width: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkmark::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin: auto;
  background: #ffffff;
}

.check-container:hover {
  opacity: 0.5;
}

.check-container input:checked ~ .checkmark::before {
  background: #1aa8ef;
}

.check-container input:checked ~ .checkmark {
  background: #ffffff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check-container input:checked ~ .checkmark:after {
  display: block;
}

.container-one {
  background-image: url("../assets/images/sport.png");
}
.container-two {
  background-image: url("../assets/images/fitness.png");
}
.container-three {
  background-image: url("../assets/images/music.png");
}
.container-four {
  background-image: url("../assets/images/fashion.png");
}
.container-five {
  background-image: url("../assets/images/technology.png");
}
.container-six {
  background-image: url("../assets/images/food.png");
}
.container-seven {
  background-image: url("../assets/images/health.png");
}
.container-eight {
  background-image: url("../assets/images/business.png");
}
.container-nine {
  background-image: url("../assets/images/arts.png");
}
.container-ten {
  background-image: url("../assets/images/spirituality.png");
}

.submit {
  width: 369px;
  margin-top: 40px;
}
