<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-ticketing Landing page</title>

    <!-- Googlefonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav class="nav-container">
      <div class="nav-left">
        <div class="nav-logo"><span>E</span>vently</div>
        <div class="nav-section">
          <a href="" class="nav-link-features">Features</a>
          <a href="" class="nav-link-features">Pricing</a>
          <a href="" class="nav-link-features">Automation</a>
        </div>
      </div>
      <div class="nav-right">
        <button class="btn-customer outline-btn">Customer Login</button>
        <button class="btn-signup primary-btn">Sign up</button>
      </div>
    </nav>

    <!-- upper section start -->

    <section class="section-one">
      <p class="section-one-para text-one">
        Smart email campaign builder, made for Developers
      </p>
      <h1 class="section-one-header">
        Turn your visitors into profitable <span>business</span>
      </h1>
      <div class="section-one-button">
        <button class="section-one-button-one primary-btn">
          Get more customers
        </button>
        <div class="button-two-container">
          <button class="section-one-button-two outline-btn">
            <img
              src="../assets/icons/Icon-play.svg"
              alt="play-icon"
              class="play-icon outline"
            />Watch free demo
          </button>
        </div>
      </div>

      <p class="section-one-para text-two">
        60 Days free trial . No credit card required
      </p>
      <div class="section-one-mp4">
        <!-- <img src="assets\images\Group 11.png" alt="" class="mp4-frame"> -->
        <button class="play-button">
          <img
            src="../assets/icons/Icon.svg"
            alt="play-icon"
            class="play-icon solid"
          />
        </button>
      </div>
    </section>

    <!-- upper section end  -->

    <!-- middle section start  -->

    <div class="review-section">
      <h2>Over 1000+ people trust us</h2>
      <p>
        Clarity gives you the Blocks & components you need to create a truly
        professional website, landing page or admin panel for your SaaS
      </p>
      <ul class="reviews">
        <li class="review">
          <img
            src="../assets/images/profile1.png"
            alt="cust-image"
            class="review-top"
          />
          <div class="bottom-float">
            <div class="customer-details">
              <div class="cust-name">Albert Flores</div>
              <div class="cust-post">Founder of GearUp</div>
            </div>
            <button>
              <img src="../assets/icons/button-play 1.svg" alt="pause" />
            </button>
          </div>
        </li>

        <li class="review">
          <img
            src="../assets/images/profile2.png"
            alt="cust-image"
            class="review-top"
          />
          <div class="bottom-float">
            <div class="customer-details">
              <div class="cust-name">Leslie Alexander</div>
              <div class="cust-post">Co-Founder of Womenia</div>
            </div>
            <button>
              <img src="../assets/icons/button-play 1.svg" alt="pause" />
            </button>
          </div>
        </li>
        <li class="review">
          <img
            src="../assets/images/profile3.png"
            alt="cust-image"
            class="review-top"
          />
          <div class="bottom-float">
            <div class="customer-details">
              <div class="cust-name">Courtney Henry</div>
              <div class="cust-post">Founder of CH Beauty</div>
            </div>
            <button>
              <img src="../assets/icons/button-play 1.svg" alt="pause" />
            </button>
          </div>
        </li>
      </ul>
      <a href="#more-review" class="more-review">
        See all reviews by our customers
        <img src="../assets/icons/arrow-upright.svg" alt=""
      /></a>
    </div>

    <!-- middle section end  -->

    <!-- bottom section start  -->

    <div class="service">
      <div class="service-header">
        <h2 class="title">Make every step user-centric</h2>
        <p class="sub-title">
          Lorem ipsum dolor sit amet, consectetur adipis elit
        </p>
      </div>
      <div class="service-box">
        <div class="support box">
          <img src="../assets/icons/support.svg" alt="" />
          <h3 class="box-title">Support</h3>
          <p class="box-content">
            Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
            proin faucibus nibh et sagittis a. Lacinia purus ac amet.
          </p>
        </div>
        <div class="sales box">
          <img src="../assets/icons/sales.svg" alt="" />
          <h3 class="box-title">Sales</h3>
          <p class="box-content">
            Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
            proin faucibus nibh et sagittis a. Lacinia purus ac amet.
          </p>
        </div>
        <div class="onboarding box">
          <img src="../assets/icons/onboarding.svg" alt="" />
          <h3 class="box-title">Onboarding</h3>
          <p class="box-content">
            Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
            proin faucibus nibh et sagittis a. Lacinia purus ac amet.
          </p>
        </div>
        <div class="product box">
          <img src="../assets/icons/product.svg" alt="" />
          <h3 class="box-title">Product</h3>
          <p class="box-content">
            Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
            proin faucibus nibh et sagittis a. Lacinia purus ac amet.
          </p>
        </div>
        <div class="quality box">
          <img src="../assets/icons/quality.svg" alt="" />
          <h3 class="box-title">Quailty</h3>
          <p class="box-content">
            Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
            proin faucibus nibh et sagittis a. Lacinia purus ac amet.
          </p>
        </div>
        <div class="result box">
          <img src="../assets/icons/result.svg" alt="" />
          <h3 class="box-title">Result</h3>
          <p class="box-content">
            Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
            proin faucibus nibh et sagittis a. Lacinia purus ac amet.
          </p>
        </div>
      </div>
    </div>

    <!-- review section up -->

    <!-- footer start here -->

   <footer>
      <!-- <div class="footer-desc">
        <div class="footer-info">
          <div class="logo">
            <img src="../assets/icons/Original.svg" alt="" />
          </div>
          <p>
            Clarity gives you the blocks and components you need to create a
            truly professional website.
          </p>
        </div>
        <div class="other-links">
          <div class="pages">
            <h3>COMPANY</h3>
            <ul>
              <li><a href="#About">About</a></li>
              <li><a href="#features">Features</a></li>
              <li><a href="#works">Works</a></li>
              <li><a href="#career">Career</a></li>
            </ul>
          </div>
          <div class="pages">
            <h3>HELP</h3>
            <ul>
              <li><a href="#support">Customer Support</a></li>
              <li><a href="#delivry">Delivery Details</a></li>
              <li><a href="#terms">Terms & Conditions</a></li>
              <li><a href="#policy">Privacy & Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="email-subscribe">
          <h3>NEWSLETTER</h3>
          <form action="#">
            <input
              type="email"
              name="email"
              placeholder="Enter your email address"
            />
            <button onclick="alert('You\'ve successfully subscribe to our NEWSLETTER')">Subscribe Now</button>
          </form>
        </div>
      </div> -->
      <div class="line"></div>
      <div class="footer-down">
        &#169 Copyright 2022, All Rights Reserved by Evently
      </div>
    </footer> 

    <!-- ends here -->
  </body>
</html>
