@import url("./Variables.css");
@import url("./button.css");
@import url("./font.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif !important;
  font-style: normal;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--primary-text-clr);
}


.center {
  display:  grid;
  place-items: center;
}