<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <!-- header component -->
    <header>
      <div class="logo">
        <img src="/Template/assets/images/logo.svg" alt="logo" />
        <h1>Evently</h1>
      </div>
      <nav>
        <ul class="nav-links">
          <a href="#"> <li class="link present">Create an Event</li> </a>
          <a href="#"> <li class="link">Help</li> </a>
          <a href="#"> <li class="link">Pricing</li> </a>
          <a href="#"> <li class="link">Resources</li> </a>
          <a href="#">
            <li>
              <img src="/Template/assets/images/Ellipse 1.png" alt="" />
            </li>
          </a>
        </ul>
      </nav>
    </header>
    <!-- header ends -->

    <!-- CTA > Call To Action -->
    <div class="hero">
      <h1>Turn your visitors into profitable business</h1>
      <div class="search-event">
        <input type="text" name="search" placeholder="Search Events" />
        <button>
          <img src="/Template/assets/images/magnifyingglass.svg" alt="" />
        </button>
      </div>
    </div>

    <!-- Events -->
    <div class="events">
      <div class="filter-by-location">
        Popular in <span class="location">Lagos</span>
        <span>
          <img src="/Template/assets/images/dropdown-arrow.svg" alt="select" />
        </span>
      </div>

      <ul class="event-tag-list">
        <li class="tags present">All</li>
        <li class="tags">For you</li>
        <li class="tags">Online</li>
        <li class="tags">Today</li>
        <li class="tags">This weekend</li>
        <li class="tags">Free</li>
        <li class="tags">Music</li>
        <li class="tags">Food & Drink</li>
        <li class="tags">Charity & Causes</li>
      </ul>

      <!-- based on interes -->
      <div class="event-by-interest">
        <h2>Based on you interest</h2>
        <ul class="event-cards">
          <li class="card-container">
            <img
              src="/Template/assets/images/Imageevebg.png "
              alt="event-image"
            />
            <h3>Daily Grand Sprint</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Mattis scelerisque aliquet
              vel libero
            </p>
            <div class="details">
              <div class="date">14th Dec, 2022</div>
              <div class="tag">Sports</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
